<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kafka Monitor - Consumer Groups</title>
    <link th:href="@{/css/topics.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/topics">Topics</a></li>
    <li><a href="/consumers">Consumers</a></li>
    <li><a href="/producers">Producers</a></li>
</ul>
<div class="topic-list">
    <table id="alltopics">
        <tr>
            <th>Group Id</th>
            <th>Simple</th>
            <th>State</th>
            <th>Action</th>
        </tr>
        <tr th:each="consumer : ${consumers}">
            <td th:text="${consumer.groupId}"></td>
            <td th:text="${consumer.isSimple}"></td>
            <td th:text="${consumer.state}"></td>
            <td>
                <form method="POST" th:action="@{/consumers/delete(group=${consumer.groupId})}">
                    <button type="submit">Delete</button>
                </form> 
            </td>
        </tr>
    </table>
</div>
<br>
<br>
<section class="buttons">
    <div>
        <a href="/" class="button">Go main</a>
    </div>
</section>
</body>
</html>