<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kafka Monitor - Create topic</title>
</head>
<body>
<form action="#" method="post" th:action="@{/topics/create}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">

    <label for="partition">Partition:</label>
    <input type="number" id="partition" name="partition">

    <label for="factor">Replication factor:</label>
    <input type="number" id="factor" name="factor">

    <button type="submit">Create</button>
</form>
</body>
</html>