<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Kafka Monitor - Home</title>

    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body>
<!--<header>-->
<!--    <img th:src="@{/images/kafka.png}" alt="Kafka Monitor" />-->
<!--</header>-->

<div class="navbar">
    <a href="/">Home</a>
    <a href="/cluster">Cluster</a>
    <a href="/broker">Broker</a>
    <a href="/topics">Topic</a>
    <a href="/consumers">Consumer Group</a>
</div>

<div class="head">
    <h1>Kafka Monitor</h1>
    <p>Browser UI for cluster management</p>
</div>
<br>
<div class="buttons">
    <button class="button">View topics</button>
</div>


</body>
</html>