<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kafka Monitor - Producers</title>
    <link th:href="@{/css/topics.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/topics">Topics</a></li>
    <li><a href="/consumers">Consumers</a></li>
    <li><a href="/producers">Producers</a></li>
</ul>
<div class="topic-list">
    <table id="alltopics">
        <tr>
            <th>Producer Id</th>
            <th>Producer Epoch</th>
            <th>Last Timestamp</th>
            <th>Action</th>
        </tr>
        <tr th:each="producer : ${producers}">
            <td th:text="${producer.producerId}"></td>
            <td th:text="${producer.producerEpoch}"></td>
            <td th:text="${producer.lastTimestamp}"></td>
            <td>
                <form method="POST" th:action="@{/topics/delete(topic=${producer.producerId})}">
                    <button type="submit">Delete</button>
                </form> 
            </td>
        </tr>
    </table>
</div>
<br>
<br>
<section class="buttons">
    <div>
        <a href="/" class="button">Go main</a>
    </div>
</section>
</body>
</html>